
<h1>Applications Page</h1>


<ul class="nav nav-tabs">
    <li role="presentation">
        <button class="button" (click)="positionBtn()">Add Position</button>
    </li>
    <br>
    <li role="presentation">
        <button class="button" (click)="participants()">Add Participants</button>
    </li>
    <br>
    <li rolw="presentation">
        <button class="button" (click)="editParticipants()">Edit Participants</button>
    </li>
    <br>
    <li rolw="presentation">
        <button class="button" (click)="deleteParticipants()">Delete Participants</button>
    </li>
</ul>

<router-outlet></router-outlet>
