
<form (ngSubmit)="onSubmit()" #f="ngForm">

    <div class="form-group">
        <label for="selectPosition">Positions</label>
        <select id="selectPosition" class="form-control" ngModel name="selectPosition" >
            <option>--Choose Position--</option>
            <option *ngFor="let pos of positions; let i = index;" [value]="i" >{{ pos.position_name }}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="participant_name">PARTICIPANT NAME</label>
        <input type="text" id="participant_name" class="form-control"  ngModel name="participant_name" required>
    </div>

    <div class="form-group">
        <label for="email">MAIL</label>
        <input type="email" id="email" class="form-control" ngModel name="email" required email #email="ngModel">
    </div>

    <div class="form-group">
        <label for="about">ABOUT</label>
        <textarea name="about" id="about" rows="3" class="form-control" [(ngModel)]="about" required></textarea>
    </div>

    <div class="form-group">
        <label for="supporters">SUPPORTERS</label>
        <input type="text" id="supporters" class="form-control" [(ngModel)]="supporter_name" name="supporters">
        <button type="button" (click)="addSupporter()">ADD</button>
    </div>

    <div class="form-group">
        <label for="promises">PROMISES</label>
        <input type="text" id="promises" class="form-control" [(ngModel)]="promises" name="promises">
        <button type="button" (click)="addPromise()">ADD</button>
    </div>

    <div class="form-group">
        <label for="achivements">ACHIVEMENTS</label>
        <input type="text" id="achivements" class="form-control" [(ngModel)]="achivements" name="achivements">
        <button type="button" (click)="addAchivement()">ADD</button>
    </div>

    <button class="button" type="submit" [disabled]="!f.valid"> ADD </button>
</form>

